COMPOSE_PROJECT_NAME=assetmanagerdev

ODOO_VERSION=19
ODOO_PORT=18069
ODOO_LONGPOLLING_PORT=18072
ODOO_ADMIN_PASSWORD=change-me

PG_VERSION=17
POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=change-me

ODOO_DB_HOST=db
ODOO_DB_PORT=5432

DOMAIN=assetmanager.cfd
